body {
    margin: auto;
    max-width: 800px;
    font-size: medium;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.checkbox-label {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5;
}

.checkbox {
    gap: 1rem;
    display: flex;
}

.checkbox-inside {
    display: flex;
    margin-left: 6px;
}

.sexe-inside {
    display: flex;
}

label {
    display: block;
}

#prenom,
#age,
#nom,
#lien-linked-in,
#region,
#profession {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 1rem;
}

.button-submit {
    text-align: center;
}

button {
    border: none;
    background-color: blue;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
}

.card {
    background-color: beige;
    border-radius: 10px;
    border: none;
    color: black;
}

h2 {
    margin: 1rem;
    padding: 2px;
}
